[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
django-extensions = "*"
django-debug-toolbar = "*"
django-ordered-model = "*"
psycopg2-binary = "*"
django-on-heroku = "*"
gunicorn = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
