{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block meta %}{% endblock %}
    <title>{% block title %}Recipe Book{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"
    />
  </head>
  <body class="sans-serif bg-near-white">
    <header class="pa3 bg-gold black">
      <h1 class="ma0"><a class="black no-underline" href="{% url 'homepage' %}">Recipe Book</a></h1>
      <div class="flex justify-between">
        {% if user.is_authenticated %}
        <div class="mr2 b">
          Hello, {{ user.username }}!
          <a href="{% url 'auth_logout' %}">Log Out</a>
        </div>
        <div class="mr2">
          <a href="{% url 'add_recipe' %}">Add a recipe</a>
        </div>
    </div>
        {% endif %}
    </header>
    <main class="pa3">
    {% if messages %}
      <div class="messages ba br2 b--silver pa2">
      {% for message in messages %}
        <p
          {% if message.tags == 'success' %}
          class="bg-washed-green"
          {% elif message.tags == 'error' %}
          class="bg-washed-red"
          {% endif %}>
            {{ message }}
          </p>
      {% endfor %}
      </div>
    {% endif %}
      <div class="container">{% block content %} {% endblock content %}</div>
    </main>
  </body>
</html>
